{{define "title"}}
Авторизация
{{end}}

{{define "links"}}
<link rel="stylesheet" href="static/css/auth.css">
{{end}}

{{define "content"}}
<div class="login-container">
    <h2>Авторизация</h2>
    <form action="/login" method="POST">
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="Логин" required>
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Пароль" required>
        </div>
        <button type="submit">Войти</button>
    </form>
</div>
{{end}}

